* {
  box-sizing: border-box;
}

.containerr {
  height: 150vh;
  background-color: rgb(234, 230, 214);
}
.heading {
  color: rgb(41, 41, 244);
  font-weight: bold;
  font-size: 35px;
  font-style: italic;
  font-family: "Times New Roman", Times, serif;
  padding: 15px;
}

.card {
  text-align: center;
  margin: 15px;
  border: 1px solid black;
  box-shadow: 1px 1px blue;
}

.card-body {
  background-color: rgb(234, 230, 214);
}
.title {
  color: rgb(41, 41, 244);
  font-weight: bold;
  font-size: 35px;
  font-style: italic;
  font-family: "Times New Roman", Times, serif;
  text-decoration: underline
}

.card-text {
  color: rgb(41, 41, 244);
  font-weight: bold;
  font-style: italic;
}

.card-img-top {
  height: 18vh;
}
